.header_top{width: 1190px}
.kl { background: url("/Content/images/se.jpg") left center no-repeat; height: 38px; margin-right: 0px; margin-top: 28px; width: 335px; }

.footer_main { margin: 0 auto; overflow: hidden; width: 1190px;}

.header_center {width: 1190px; }

.content { height: 386px; margin: 0 auto 0 auto; position: relative; width: 100%; }

.sidebar a { border-bottom: 1px dashed #e7e7e7; /*width: 136px;*/color: #666666; display: block; height: 37px; position: relative; }

.sidebar a:hover { background-color: #ff464e; border-bottom: 1px solid #ff464e; color: #fbfbfb; /*height: 43px;margin-top: -1px;*/z-index: 10; }

.sidebar a:hover .good1 i { background-position: -53px 10px; }

.sidebar a:hover .good2 i { background-position: -53px -25px; }

.sidebar a:hover .good3 i { background-position: -53px -62px; }

.sidebar a:hover .good4 i { background-position: -53px -98px; }

.sidebar a:hover .good5 i { background-position: -53px -132px; }

.sidebar a:hover .good6 i { background-position: -53px -167px; }

.sidebar a:hover .good7 i { background-position: -53px -202px; }

.sidebar a:hover .good8 i { background-position: -53px -237px; }

.sidebar a:hover .good9 i { background-position: -53px -273px; }

.sidebar a:hover .good10 i { background-position: -52px -312px; }

.sidebar a:last-child { border: 0px; }

.sidebar_a { height: 37px; margin: 0 auto 0 auto; position: absolute; top: 0; width: 100%; }

.sidebar_a i { background: url(/Content/images/homeIcon2.png); background-repeat: no-repeat;float: left; height: 37px; margin-left: 21px; width: 30px; }

.sidebar a:hover .sidebar_a { border-top: 1px solid #f13439; position: absolute; top: -1px; }

.good1 i { background-position: 0 10px; }

.good2 i { background-position: 0 -25px; }

.good3 i { background-position: 0 -62px }

.good4 i { background-position: 0 -98px }

.good5 i { background-position: 0 -132px }

.good6 i { background-position: 0 -168px }

.good7 i { background-position: 0 -202px }

.good8 i { background-position: 0 -237px }

.good9 i {background-position: 0px -274px }

.good10 i{ background-position: 0px -312px;}
/**日用家居start**/

/**日用家居end**/

.showtrytype { display: block }

.sidebar_aone { float: left; font-size: 14px; margin-left: 3px; margin-top: 9px; }

.banner { float: left; height: 386px; /*margin: 10px 10px 0 10px;*/width: 100%; }

.banner_a { height: 250px; width: 740px; }

.banner_b { border: 1px solid #f39690; float: left; height: 116px; width: 246px; }

.gugao { margin-top: 7px; width: 750px; }

.gugao li { border-left: 1px solid #ffffff; float: left; }

.gugao li img { height: 119px; width: 246px; }

.gugao li img:hover { opacity: 0.9 }

.mian_right { float: right; height: 201px; margin-top: 10px; width: 290px; }

.mian_right_top { background: url(../images/main_right.jpg) left center no-repeat; font-family: Microsoft YaHei; font-weight: bold; height: 56px; width: 290px; }

.mian_right_top a { color: #575757; display: block; float: left; font-family: Microsoft YaHei; font-size: 16px; line-height: 56px; text-align: center; width: 96px; }

.mian_right_top a:hover { color: #f13439 }

.gonggao { height: 105px; }

.gonggao ul li { border-bottom: 0px dashed #e4e4e4; height: 25px; line-height: 30px; }

.shangjia { height: 105px; }

.shangjia ul li { border-bottom: 0px dashed #e4e4e4; height: 25px; line-height: 30px; padding-right: 20px; }

.shike { height: 105px; }

.shike ul li { border-bottom: 0px dashed #e4e4e4; height: 25px; line-height: 30px; padding-right: 20px; }

.mian_right_bottom { border-bottom: 0px solid #ddd; margin-top: 5px; }

.novice { background-color: #f5f5f5; border-bottom: 1px solid #e8e8e8; border-left: 1px solid #e8e8e8; border-right: 1px solid #e8e8e8; height: 128px; margin-top: -3px; width: 288px; }

.rumenxsh { padding-top: 13px }

.bmruk { background: #fff; color: #fff; font-family: Microsoft YaHei; height: 386px; margin-right: -595px; position: absolute; right: 50%; width: 178px; z-index: 1; }

.rumenxs { font-size: 15px; font-weight: bold; margin-left: 13px; }

.rum { font-size: 12px; margin-left: 150px; }

.rum a { color: #666666 }

.rmdl { background: #ffffff; border: 1px solid #dddddd; border-radius: 3px; color: #666666; display: block; float: left; height: 65px; line-height: 25px; margin: 10px 0 0 9px; text-align: center; width: 58px; }

.rmdl i { background: url(/Content/images/sqsdcshi.png); background-position: 4px 0px; background-repeat: no-repeat; background-size: 135px 28px; display: block; font-size: 12px; height: 30px; margin: 7px auto 0 auto; width: 30px; }

.diyi i { background-position: -32px -1px; }

.dier i { background-position: -66px 0px; }

.disan i { background-position: -104px 0px; }

.summary { font-family: Microsoft YaHei; margin: 22px auto 0 auto; width: 1190px; }

.titler { border-bottom: 1px solid #ddd; color: #666666; font-size: 17px; height: 37px; line-height: 29px; position: relative; }

.dixbju { margin-bottom: 20px; }

.jxi { color: #666666; font-size: 14px; font-weight: normal; left: 125px; position: absolute; top: 4px; }

.jxionn { left: 74px; }

.jxionngt { left: 90px; }

.titler_rigth { cursor: default; float: right; height: 28px; position: relative; width: 210px; }

.gonetow { width: 222px }

.titler_rigth a { color: #666666; cursor: pointer; display: block; float: left; font-size: 14px; height: 37px; line-height: 41px; }

.titler_one { margin: 0 auto 0 auto; /*height: 482px;*/overflow: hidden; position: relative; width: 1195px; }

.tpjuzhong { margin-top: 8px }

.titler_one ul { width: 1216px; }

.picScroll-left .bd ul { padding-left: 1px; }

.picScroll-left .bd ul li { margin: 0 -1px 0 0px; }

.titler_one li { background-color: #fff; border: 1px solid #ededed; cursor: pointer; display: inline; float: left; margin-bottom: 10px; margin-left: -1px; margin-right: 0px; /*margin-top: -1px;*/overflow: hidden; padding: 0px 0px 25px 0px; position: relative; width: 198px; }

.titler_one li:hover { border-color: #f13439; z-index: 10; }

.titler_one li:hover .ontrial { color: #f13439 }

.titler_one li:hover .tryimg { opacity: 0.8; }

.tryimg { height: 166px; margin: 16px auto 0; width: 166px; }

.gdudtz { height: 240px }

.rsp { background: #000; bottom: 0; filter: alpha(opacity=0); height: 180px; left: 0px; opacity: 0; overflow: hidden; position: absolute; top: 0px; width: 180px; }

.rsp_one { bottom: 0; display: none; height: 180px; overflow: hidden; position: absolute; top: 53px; width: 180px; }

.mfsqing { height: 61px; margin: 66px auto 0 auto; width: 61px; }

.xhualib { border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; float: left; height: 100px; margin-bottom: 30px; width: 1195px; }

.titler_one p { color: #666666; font-size: 12px; height: 22px; line-height: 10px; margin: 4px auto 0 auto; text-align: left; width: 166px; }

.titler_one p em { color: #999999; font-weight: bold; }

.titler_one h4 { color: #666666; cursor: pointer; font-size: 12px; font-weight: 400; line-height: 17px; margin: auto; overflow: hidden; text-align: left; text-overflow: ellipsis; white-space: nowrap; width: 166px;padding-top: 10px; }

.titler_one h4 a { color: #555555 }

.titler_one h4 a:hover { color: #f13439 }

.zxinsxi { background-image: url(/Content/images/tuijsyong.jpg); background-position: center bottom; background-repeat: no-repeat; color: #333; font-weight: bold; }

.titler_rigth span { color: #838383; float: left; font-size: 10px; margin: 4px 16px 0 16px; }

.gduojx { color: #666666; font-size: 12px; font-size: 12px; position: absolute; right: 0; top: 5px; }

.jxd { top: 7px }

.jxdabc { background: url(/Content/images/sjibaoming.png) left center no-repeat; font-size: 14px; text-align: right; width: 90px; }

.gduojx:hover { color: #f13439 }

.service { font-family: Microsoft YaHei; /*height: 486px;*/margin: 15px auto 0 auto; width: 1190px; }

.sert_a { height: 386px }

.service_a { /*height: 386px;*/width: 1190px; }

.onetexet { float: left; width: 966px; }

.texet { border-bottom: 1px solid #ddd; width: 949px; }

.onetexet_img { float: left; margin-top: 20px; }

.onetexet_yhu { border: 1px solid transparent; cursor: pointer; float: left; height: 310px; margin: 20px 10px 0 0; position: relative; width: 190px; }

.onetexet_yhu a img { height: 260px; width: 190px; }

.onetexet_yhu:hover { border: 1px solid #f13439; opacity: 0.9; }

.onetexet_neir { background-color: rgba(0, 0, 0, 0.4); bottom: 50px; color: #ffffff; height: 30px; left: 0; line-height: 30px; position: absolute; width: 190px; }

.onetexet_neir p { margin-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.touxiang { float: left; height: 40px; margin-left: 3px; margin-top: 3px; width: 40px; }

.touxiang img { border-radius: 50px; height: 40px; width: 40px; }

.touxiang_a { color: #666666; line-height: 18px; margin-top: 5px; }

.touxiang_a p { margin-left: 50px; }

.right_nav { float: left; height: 386px; width: 222px; }

.thecharts { border-bottom: 1px solid #eaeaea; height: 62px; }

.lixian { background-color: #ff464e; border-radius: 50px; color: #ffffff; float: left; height: 15px; line-height: 15px; margin-top: 21px; text-align: center; width: 15px; }

.jinhbaog { margin-left: 10px; margin-top: 9px; }

.jinhbaog img { height: 40px; width: 40px; }

.yongjbaog { padding-left: 25px; padding-top: 10px; }

.lhou { background-color: #333333 }

.footer_neir { margin: 30px auto 30px auto; position: relative; width: 1190px; }

.qguanggcontain { width: 1208px; }

.qguangg { border: 2px solid transparent; cursor: pointer; float: left; height: 335px; margin-bottom: 20px; margin-right: 13px; position: relative; width: 224px; }

.qguangg_one { background-image: url(/Content/images/linghs_xtb.png); background-repeat: no-repeat; color: #f65661; font-size: 14px; font-weight: bold; height: 68px; line-height: 68px; position: absolute; right: -5px; text-align: center; top: -4px; width: 67px; }

.qguangg a img { height: 224px; width: 224px; }

.qguangg:hover { border: 2px solid #f13439 }

.qqg_a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;padding-left: 5px;}

.qqg_a a { color: #777 }

.qqg_b { margin-top: 5px }

.qqg_c { color: #ff464e; float: left; font-family: arial; font-size: 20px;font-weight: 800 }

.qqg_d { color: #999; float: left; /*font-family: Impact;*/ font-size: 12px; margin-top: 7px; text-decoration: line-through;margin-left: 10px;}

.qqg_e { float: right; height: 27px; text-align: center; }

.qqg_e a { background: url("/Content/images/quqianggou.jpg") no-repeat scroll left center #000; color: #fff; display: inline-block; font-family: Microsoft YaHei; font-size: 14px; font-weight: bold; height: 27px; line-height: 30px; margin-right: 3px; margin-top: 3px; text-align: center; text-decoration: none; width: 80px; }

.qguangg a img { height: 224px; width: 224px; }

.mginbot { margin-bottom: 25px; width: 1195px; }

.leftsidebar { background-color: #f0f0f0; height: 400px; left: -100px; position: absolute; top: 8px; width: 84px; }

.lefttotop { left: 50%; margin-left: -695px; position: fixed; top: 50px; }

.leftsidebar a { border-bottom: 1px dashed #ffffff; color: #222222; display: block; font-size: 12px; height: 35px; line-height: 36px; text-align: center; }

.leftsidebar .sel { background-color: #c8c8c8 }

.leftsidebar a:hover { background-color: #c8c8c8 }

.lhsuan { background-color: #f65661; color: #ffffff; font-size: 15px; font-weight: bold; height: 41px; line-height: 40px; text-align: center; }

.yhumingz { color: #333333; font-size: 14px; }

.abczuo { color: #ff464e; font-weight: bold }

.cbazuo { color: #333; font-size: 17px; font-weight: bold; line-height: 34px; }

.todayimg { float: left; height: 100px; margin-bottom: 15px; width: 960px; }

.nav_fixed { background: #ff464e; left: 0; position: fixed; top: 0; width: 100%; z-index: 997; _position: absolute; }

/*anythingSlider */

.anythingSlider { height: 250px; margin: 0 auto 15px; position: relative; width: 740px; }

.anythingSlider .wrapper { height: 250px; left: 0; overflow: auto; /*margin: 0 40px; */position: absolute; top: 0; width: 740px; }

.anythingSlider .wrapper ul { background: #eee; left: 0; list-style: none; /*border-bottom: 3px solid #e0a213;*/margin: 0; position: absolute; top: 0; width: 9999px; }

.anythingSlider ul li { display: block; float: left; height: 250px; margin: 0; padding: 0; width: 740px; }

.anythingSlider .arrow { background: #000000; cursor: pointer; display: block; height: 70px; position: absolute; text-indent: -9999px; top: 90px; width: 40px; }

.anythingSlider .forward { background-color: rgba(0, 0, 0, .1); background-position: 0 0; display: none; right: 0px; }

.anythingSlider .forward i { background-image: url(/Content/images/zhiyb.png); background-repeat: no-repeat; cursor: pointer; display: block; height: 33px; margin: 3px 0 0 13px; overflow: hidden; width: 18px; }

.anythingSlider .forward:hover { background-color: rgba(0, 0, 0, .3); }

.anythingSlider .back { background-color: rgba(0, 0, 0, .1); background-position: -67px 0; display: none; left: 0px; }

.anythingSlider .back i { background-image: url(/Content/images/zhizb.png); background-position: 0px 0px; background-repeat: no-repeat; cursor: pointer; display: block; height: 33px; margin: 3px 0 0 10px; overflow: hidden; width: 18px; }

.anythingSlider .back:hover { background-color: rgba(0, 0, 0, .3); }

.anythingSlider .forward:hover { background-position: 0 -200px; }

.anythingSlider .back:hover { background-position: -67px -200px; }

#thumbNav { float: right; position: relative; text-align: center; top: 226px; }

#thumbNav a { background: #cccccc; border-radius: 50%; color: #ffffff; display: inline-block; height: 10px; text-align: center; text-indent: 0px; width: 10px; }

#thumbNav a:hover { background-color: #f13439; background-image: none; }

#thumbNav a.cur { background: #ff464e; }

/*#start-stop { -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; background: green; background-image: url(../images/cellshade.png); background-repeat: repeat-x; color: white; padding: 2px 5px; position: absolute; right: 45px; text-align: center; top: 323px; width: 40px; }*/

#start-stop.playing { background-color: #ff464e; }

#start-stop:hover { background-image: none; }

/*anythingSlider */

.main { margin: 0 auto; position: relative; width: 1190px; z-index: 888; }

.footer { background: none repeat scroll 0 0 #F8F8F8; /*height: 150px;*/ }

.link { border-bottom: 1px solid #e6e6e6; }

.qn-logo { background:url(/Content/images/user_logoone.png)no-repeat; display: inline; float: left; height: 70px; margin:24px 20px auto 0; width:379px; }

.qn-logo a { display: block; height: inherit; }

.mfsyo { color: #8f8f8f; font-family: Microsoft YaHei; font-size: 14px; font-weight: normal; margin-left: 125px; margin-top: 28px; }

.dianst { background: url(/Content/images/CCTVdcanf.jpg); display: inline; float: left; height: 45px; margin: 25px 0 0 0; width: 200px; }

.swiper-container:hover .swiper-button-next { display: block }

.swiper-container:hover .swiper-button-prev { display: block }

.swiper-button-next { background: #000000; background-image: none; display: none; height: 60px; margin-top: -30px; opacity: 0.2; right: 0; width: 33px; }

.swiper-button-next i { background: url(/Content/images/zhiyb.png); height: 33px; margin: 13px 0 0 8px; width: 18px; }

.swiper-button-next:hover { opacity: 0.2 }

.swiper-button-prev { background: #000000; background-image: none; display: none; height: 60px; left: 0; margin-top: -30px; opacity: 0.2; width: 33px; }

.swiper-button-prev i { background: url(/Content/images/zhizb.png); height: 33px; margin: 13px 0 0 8px; width: 18px; }

.swiper-button-prev:hover { opacity: 0.2 }

.swiper-pagination-bullet { background: #cccccc; height: 10px; opacity: 1; width: 10px; }

.swiper-pagination-bullet-active { background: #ff464e; }

.freeof { background-color: #f4f4f4; border: 1px solid #d7d7d7; border-radius: 50px; color: #3b3b3b; display: block; font-size: 12px; height: 29px; line-height: 28px; margin: 4px auto; text-align: center; width: 99px; }

.freeof:hover { color: #f13439 }

.sidebar { background: #ffffff; border-bottom: 2px solid #f57b72; border-left: 2px solid #f57b72; border-right: 2px solid #f57b72; height: 384px; left: 50%; margin-left: -595px; overflow: hidden; position: absolute; top: 0; width: 158px; z-index: 2; }

.sid_a { border: 0px solid #d12222; }

.baig { height: 517px; margin-left: auto; margin-right: auto; margin-top: 100px; width: 768px;background: url(/Content/images/tc-money.png) no-repeat center;}
.baig .close{     background: url(/Content/images/cc45.png) 648px bottom no-repeat;
    height: 75px;
    display: block;
    width: 100%;
    cursor: pointer;}
.baig .login1{ background: url(/Content/images/login45.png) 532px bottom no-repeat;
    width: 100%;
    display:block;
    height: 141px;}
.baig .resginer1{    background: url(/Content/images/zc46.png) 195px bottom no-repeat;
    width: 100%;
    display: block;
    height: 300px;}
/***新手注册start***/
 .tap-one{margin-left: 540px;margin-top: 200px;margin-bottom: 200px; }
 .tap-two{margin-left: 196px;cursor: pointer;margin-top: 16px;margin-bottom: 520px;}
 .tap-three{ position: relative;top: 130px;left: 200px;}
 /***新手注册end***/

.shangjia_xx { height: 86px; margin: 10px auto 0 auto; width: 1190px; }

.jia_xx { margin-top: 20px }

.shangjia_xxa { background-image: url(/Content/images/xinxin_a.jpg); float: left; height: 86px; width: 290px; }

.shangjia_zx { height: 48px; margin: 10px auto 0 auto; width: 215px; }

.shangjia_zx p { color: #666666; font-size: 15px; margin-left: 65px; }

.shangjia_zx p span { font-size: 26px; font-weight: bold }

.hongtop { color: #ff464e; }

.huangtop { color: #fb9f00; }

.lvtop { color: #7fc021; }

.lantop { color: #619feb; }

.xxb { background-image: url(/Content/images/beizi_b.jpg); margin-left: 10px; }

.xxc { background-image: url(/Content/images/aixin_c.jpg); }

.xxd { background-image: url(/Content/images/mpai_d.jpg); }

.ontrial { background-color: #f4f4f4; border: 1px solid #d7d7d7; border-radius: 50px; color: #3b3b3b; display: block; font-size: 12px; height: 27px; line-height: 27px; margin: 5px auto 0 auto; text-align: center; width: 89px; }

.bdilone { float: left; margin-left: 11px; }

/*.baiduframe iframe{float: left}*/

.zjftp { height:90px; margin: 20px auto 10px; width: 1190px; overflow: hidden;}
.zjftp .ad{ width: 960px; height: 100%; float: left; position: relative;}
.zjftp .ad>a{ position: absolute; display: block; top: 0; left: 0; display: none;}
.zjftp .ad>a:first-child{ display: block;}
.zjftp .ad img{ width: 960px; height: 90px;}
.zjftp .zjftpa{ margin-left: 978px; height: 100%; overflow: hidden;}
.zjftp .zjftpa img{ display: block; height: 100%; width: 100%;}

/*免费试用区块样式开始*/

ul { list-style: none; }

a { text-decoration: none; }

.fgspan { color: #d9d9d9; }

.w1190 { margin: 0 auto; width: 1190px; }

.clearfix:after { clear: both; content: '.'; display: block; height: 0; visibility: hidden; }

.clearfix { zoom: 1; }

.bg-content { background-position: top center; background-repeat: no-repeat; height: auto; margin: auto; margin-top: 10px; width: 1190px; }

.bg-content img { display: block; }

.ttitle { border-bottom: 1px solid #ddd; height: 32px; }

.ttitle .t-ft1 { color: #060606; float: left; font: bold 20px/32px "微软雅黑"; padding-right: 6px; }

.ttitle .t-ft2 { color: #272727; float: left; font: 14px/32px "微软雅黑"; height: 32px; line-height: 37px; }

.ttitle .t-ft3 { color: #666666; float: right; font: 12px/32px "微软雅黑"; }

.ttitle .t-ft3:hover { color: #ff464e; }

.ttitle .t-ft3 b { color: #ff464e; font-size: 18px; }

.main-pro .plist { margin-top: 20px;}

.main-pro .pcont { background-color: #fff; float: left; height: auto; width: 197px;text-align: center; }

.main-pro .pborder{ border: 1px solid #f1f1f1; margin: 0 0 0 -1px; position:relative;}

.main-pro .pborder:nth-child(5n+2){margin-left:0px;}

.main-pro .pimg { height: 160px; margin: 18px auto 8px auto; width: 160px; }

.main-pro .title { color: #666666; font: 12px/20px "微软雅黑"; height: 16px; margin: auto;line-height:16px; overflow: hidden; width: 160px; text-align:left;}

.main-pro .pdel { color: #b5b5b5; font: 12px/20px "微软雅黑"; margin: auto; width: 160px; text-align:left;}

.main-pro .pdel span { font-family: "微软雅黑"; }

.main-pro .num { margin-left: 10px; }

.main-pro .buybtn { background-color: #f5f5f5; border: 1px solid #cccccc; border-radius: 25px; color: #666666; cursor: pointer; display: block; font: 12px/24px "微软雅黑"; height: 26px; line-height: 26px; margin: 10px auto 12px; /*-webkit-border-radius:14px;-moz-border-radius:14px;-ms-border-radius:14px;
                  -o-border-radius:14px;*/text-align: center; width: 78px; }

.main-pro .pcont:hover {  border-color:#ff464e; z-index:10;}
.main-pro .pcont:hover .pimg {opacity: 0.8;}

.main-pro .pcont:hover .buybtn { background:#ff464e; color:#fff; }

.btitle { border-bottom: 1px solid #ddd; height: 32px; margin: 20px 0 40px; }

.btitle .b-ft1 { color: #666666; float: left; font: bold 20px/32px "微软雅黑"; padding-right: 10px; }

.btitle .b-ft2 { color: #272727; float: left; font: 14px/32px "微软雅黑"; }

.btitle .b-ft3 { color: #666666; float: right; font: 12px/32px "微软雅黑"; }

.btitle .b-ft3 b { color: #ff464e; font-size: 18px; }

/*免费试用区块样式结束*/

.bmruk .main-title { color: #444; float: left; font-size: 14px; font-weight: bold; height: 37px; line-height: 36px; padding: 0 12px; }

.bmruk .se-link { color: #ff464e; float: left; font-size: 14px; font-weight: bold; height: 37px; line-height: 36px; padding: 0 12px; }

.bmruk .se-link:hover { color: #f13439; }

.bmruk .main-cont { border-bottom: 1px dashed #ebebeb; border-top: 1px solid #e6e6e6; height: 104px; margin: 0 auto; overflow: hidden; padding: 8px 13px; width: 152px; }
.bmruk .login-12{ height: 61px;    border-bottom: 1px dashed #ebebeb;}
.bmruk .login-12 a.login12{ background:#ff464e  url(/Content/images/assa.png)  11px  7px no-repeat;width: 70px;height: 30px;float: left;
color: #fff;font-weight: bold;font-size: 12px;text-indent: 30px;border-radius: 2px;-moz-border-radius:2px; -webkit-border-radius:2px;line-height: 30px;    margin: 15px 0 0 10px;}
.bmruk .login-12 a.login12:hover{background:#f13439  url(/Content/images/assa.png)  11px  7px no-repeat;}
.bmruk .login-12 a.resginer12{background:#ff464e url(/Content/images/assa.png) -79px 7px  no-repeat;width: 70px;height: 30px;float: right;color: #fff;
font-weight: bold;font-size: 12px;    text-indent: 30px;border-radius: 2px;-moz-border-radius:2px; -webkit-border-radius:2px;line-height: 30px;    margin: 15px 10px 0 0;}
.bmruk .login-12 a.resginer12:hover{background:#f13439  url(/Content/images/assa.png) -79px 7px  no-repeat;}


.bmruk .notice { display: block; font-size: 12px; height: 26px; line-height: 26px; width: 145px; }

.bmruk .notice a { color: #666; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; *white-space: nowrap; }

.bmruk .notice a:hover { color: #f13439 }

.bmruk .notice i { color: #666; margin-right: 5px; }

.bmruk .sort-cont { background: #fbfbfb; clear: both; /*width: 152px;*/height: 127px; overflow: hidden; padding-bottom: 1px; }

.bmruk .sort-item { background: #fbfbfb; border-left: 1px solid #efefef; border-top: 1px solid #efefef; float: left; font-size: 12px; height: 62px; margin-left: -1px; text-align: center; width: 88px; }

.bmruk .sort-item a { color: #999; display: block; }

.bmruk .sort-item:hover a { color: #f13439; }

.bmruk .sort-item i { margin: 5px 0; display: block; color: #ff464e; font-size: 26px; line-height: 30px; height: 30px; text-align: center;}


.specialSale { height: 160px; margin: 10px auto 12px auto; width: 1190px; }

@-webkit-keyframes rotate {
    0% { -webkit-transform: rotate(0deg) }

    100%, 25%, 50%, 75% { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes rotate {
    0% { -moz-transform: rotate(0deg) }

    100%, 25%, 50%, 75% { -moz-transform: rotate(360deg) }
}

@keyframes rotate {
    0% { transform: rotate(0deg) }

    100%, 25%, 50%, 75% { transform: rotate(360deg) }
}

@-webkit-keyframes rotate-all {
    0% { -webkit-transform: rotate(0deg) }

    100% { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes rotate-all {
    0% { -moz-transform: rotate(0deg) }

    100% { -moz-transform: rotate(360deg) }
}

@keyframes rotate-all {
    0% { transform: rotate(0deg) }

    100% { transform: rotate(360deg) }
}

@-webkit-keyframes nav-slide {
    0% { -webkit-transform: translateX(-11px) }

    100%, 50%, 70% { -webkit-transform: translateX(0px) }
}

@-moz-keyframes nav-slide {
    0% { -moz-transform: translateX(-11px) }

    100%, 50%, 70% { -moz-transform: translateX(0px) }
}

@keyframes nav-slide {
    0% { transform: translateX(-11px) }

    100%, 50%, 70% { transform: translateX(0px) }
}

@-webkit-keyframes tick-tock {
    to { -webkit-transform: rotate(360deg) translate3d(0, 0, 0) }
}

.clock-wrap { background: url(../images/clockBg.jpg) no-repeat; color: #fff; float: left; font-size: 18px; height: 150px; line-height: 220px; position: relative; text-align: center; width: 162px; }

.ll-clock { border: 7px solid #fff; border-radius: 50%; height: 43px; left: 52px; position: absolute; top: 31px; width: 43px; }

.ll-clock::before { background: #fff; border-radius: 50%; content: ""; height: 7px; left: 18px; position: absolute; top: 18px; width: 7px; }

.ll-clock .ll-clock-h { -moz-transform-origin: 2.5px 16.5px; -webkit-transform-origin: 2.5px 16.5px; background-color: #fff; border-radius: 2px; height: 19px; left: 19px; position: absolute; top: 5px; transform: rotate(10deg); transform-origin: 2.5px 16.5px; width: 5px; }

.ll-clock .ll-clock-m { background: 0 0; border-radius: 2px; height: 5px; left: 5px; position: absolute; top: 19px; width: 19px; }

.ll-clock .ll-clock-m::after { -moz-animation: tick-tock 20s steps(60, end) infinite; -moz-transform-origin: 2.5px 19.5px; -webkit-animation: tick-tock 20s steps(60, end) infinite; -webkit-transform-origin: 2.5px 19.5px; animation: tick-tock 20s steps(60, end) infinite; background-color: #fff; border-radius: 2px; content: ""; height: 21px; left: 14px; position: absolute; top: -17px; transform-origin: 2.5px 19.5px; width: 5px; }

.ll-clock .ll-clock-s { -moz-animation: tick-tock 10s linear infinite; -moz-transform-origin: bottom; -webkit-animation: tick-tock 10s linear infinite; -webkit-transform-origin: bottom; animation: tick-tock 10s linear infinite; height: 28px; left: 19px; position: absolute; top: -6px; transform-origin: bottom; width: 5px; }

.ll-clock .ll-clock-s::after { background-color: #a8a3a2; border-radius: 50%; content: ""; height: 5px; left: 0; position: absolute; top: 0; width: 5px; }

@-moz-keyframes tick-tock {
    to { -moz-transform: rotate(360deg) translate3d(0, 0, 0) }
}

@-webkit-keyframes toRightFromLeft {
    50% { -webkit-transform: translate(-50%); opacity: 0; }

    51% { opacity: 1 }
}

@-moz-keyframes toRightFromLeft {
    50% { -moz-transform: translate(-50%); opacity: 0; }

    51% { opacity: 1 }
}

.tm-list { float: left; }

.tm-list .tm-item { float: left; height: 160px; margin-left: 1px; overflow: hidden; width: 256px; }

.tm-list .tm-item img { margin-left: 0; transition: margin-left 0.5s; ; }

.tm-list .tm-item:hover img { margin-left: -10px; transition: margin-left 0.5s; }

.tm-list .tm-item a { background: #eeeeee; display: block; height: 150px; margin-left: 1px; width: 256px; }

/*注册送红包小窗*/
.tu_money{ position: fixed;width: 152px;height: 161px;background: url(../images/zuce_07.png) center no-repeat;bottom:200px;right: 45px;z-index: 10;display: none}
.fork{ width: 24px;height: 24px;background: url(../images/zuce_03.png) center no-repeat;float: right;cursor: pointer;    margin: 2px 12px 0 0;}
.zcx{ width: 99px;height: 26px;background: url(../images/zcx.png) center no-repeat;    margin: 130px 0 0 24px;}