/*#invite .invite-hd{ background:url(/content/images/invitate/invite1.jpg) no-repeat center center; height: 741px;}*/
#invite .invite-hd{ background:url(/content/images/invitate/invite1.png) no-repeat center center; height: 741px;}
#invite .invite-price{ background: #fff; border-radius: 10px; font-size: 97px; line-height: 200px; color: #ccaf66; height: 170px; width: 1040px; margin: -230px auto 0;  border: 6px solid #ccaf66; position: relative; text-align: center; }
#invite .invite-price span{ border-radius: 30px; position: absolute; height: 60px; width: 340px; left: 50%; margin-left: -170px; top:-33px; line-height: 60px; display: block; font-size: 26px; background: #ccaf66; color: #fff;}

body{ background: url(/content/images/invitate/invatetion2.png) repeat; }
#invite .invite-con{ background: url(/content/images/invitate/invite8.png) repeat; height: 431px; width: 942px; padding: 0 70px; margin: 69px auto 0; }
#invite .invite-con>div{padding-bottom: 35px; text-align: center; font-size: 30px; padding-top: 33px;  }
#invite .invite-con>div span{ color: #ccaf66;}
#invite .invite-con  ul li{ float: left; width: 50%; text-align: center;}
#invite .invite-con  ul li h2{ font-size: 28px; font-weight: 500; color: #171612; padding-bottom: 25px;}
#invite .invite-con  ul li textarea{ line-height: 20px; color: #333; border: 1px solid #ddd; width: 390px; padding: 10px; font-size: 14px; height: 100px;}
#b_clip_button{ border-bottom: 2px solid #c03334; display: inline-block; height: 50px; width: 180px; line-height: 50px; background: #ff464e; color: #fff; font-size: 18px; text-align: center; border-radius: 5px;}
#invite  .invite-con  ul li>div{ text-align: left; padding-top: 20px; width: 412px; margin: 0 auto;  }
#invite .bd-share{ float: right; display: inline-block;margin-top: -2px;}
#invite .bd-share a{ height: 30px; width: 30px; background-size: 100% 100%;  background-image: none; margin-top: 2px; padding: 0; margin-right: 0; margin-left: 10px;}
#invite .bd-share a.wx{ color: #0bb20b; background-image: url(/content/images/invitate/wx.png);}
#invite .bd-share a.wb{ color: #ff4348; background-image: url(/content/images/invitate/wb.png);}
#invite .bd-share a.qq{ color: #5ebeff; background-image: url(/content/images/invitate/qq.png);}

#invite .bd-share span{ margin-left: 12px; }

#invite .bd-share span{ font-size: 14px; line-height: 20px; margin-bottom: 5px;}
#invite  .invite-con  ul li div.tc{ text-align: center; padding-top: 0;}
#invite  .invite-con  ul li div.tc img{ width: 140px; height: 140px; padding-top: 0;}
#invite  .invite-con  ul li div.tc p{ font-size: 16px; line-height: 50px;}
#invite .invite-data { margin: 60px auto 0; width: 1040px; height: 730px; }
#invite .invite-data li{text-align: center;box-shadow: 0 0 20px #ccc; margin-left:23px;  width: 492px; height: 730px; background: #fff; float: left; }
#invite .invite-data li:first-child{ margin-right: 23px; margin-left: 0;}

#invite .invite-data b{ display: inline-block; font-weight: 500; width: 26px; height:100%;}
#invite .invite-data b.act{ color: #fff; background: url(/content/images/invitate/invite2.jpg) no-repeat center center; background-size: 100% auto;}
#invite .invite-data b.act2{background-image: url(/content/images/invitate/invite3.jpg);}
#invite .invite-data b.act3{background-image: url(/content/images/invitate/invite4.jpg);}

#invite .invite-data li h3{ border-bottom: 1px solid #ddd; height: 85px; line-height: 85px; font-size:30px; font-weight: 500; color: #333;}

#invite .invite-data .invite-title{ background: #f5f5f5; height: 60px; line-height: 60px;}
#invite .invite-data .invite-title span{ font-size:19px; display: block; float: left; width: 33.33%;}
#invite .invite-data .invite-title.wp50 span{ width:50%;}
#invite .invite-data .invite-funs span{ display: block; float: left; width: 33.33%; line-height: 56px;}
#invite .invite-data .invite-funs.lh70 span{ line-height: 65px;}
#invite .invite-funs{ font-size: 16px;}
#invite .img-title{ text-align: center; padding: 60px 0;}

#invite .invite-text{ color: #666; line-height: 42px; font-size: 25px; margin:0 auto 40px; width: 930px; padding: 25px 55px 50px;box-shadow: 0 0 20px #ccc; background: #fff;}
#invite .invite-text span{ color: #ff464e;}
#invite .invite-text em{ color: #ccaf66;}
#invite .invite-text p{ padding: 10px 0;}

#invite .invite-con .no-qx { font-size: 16px; margin-top: -15px; }
#invite .invite-con .no-qx span{color: #666 !important;}
#invite .invite-con .no-qx div *{ display: inline-block; vertical-align: middle;}

#invite .funs-btn{ color: #999; cursor: pointer;}
#invite .funs-btn.act{ height: 60px; border-bottom: 1px solid #ff464e; color: #ff464e; margin:0 10%; width: 30% !important; box-sizing: border-box;}

#invite .page-btn span{ width: 50% !important; cursor: pointer;}
#invite .page-btn span:hover{ color: #ff464e;}
#invite #list { min-height: 448px;}

#invite .beUser{ position: relative; padding-top: 70px;}
#invite .beUser>img{ position: absolute; left:149px; top:0;}