body 
{
    margin-right: auto;
	margin-left: auto;
}
.greyframe{ width: 960px; height: 532px; border: 9px solid #f0f0f0;margin: 25px auto 20px auto}
.greyframe h1{ margin: 30px 0 0 57px; font-size: 20px; font-family: Microsoft YaHei;color: #3c3d45}
.ash{ width: 827px; height: 2px; background: #f1eeeb;margin: 10px 0 0 57px}
.ashone{ width: 92px; height: 2px;background: #e84c3d}
.phonenn{ margin: 40px 0 0 150px;line-height: 35px;}
.phoo{margin: 20px 0 0 164px}
.phoonen{margin: 15px 0 0 111px}
.phone{font-size: 13px; color: #666666;}
.textfield{ width: 220px; height: 36px;padding-left: 3px;border: 1px solid #dfdfdf;}
.field{width: 97px}
.tioncode{ width: 100px; height: 30px; background: #7cae23; color: #ffffff;margin: 10px 0 0 205px;text-align: center;line-height: 30px;}
.bination{ width: 270px; color: #999999;margin: 5px 0 0 202px;}
.ckb{margin: 14px 0 0 202px;color: #666666}
.submit-btn{ margin: 30px 0 0 202px;}
.submit-btn .btn{ vertical-align: middle; display: inline-block; width: 112px; height: 34px; background: #e74c3c; color: #ffffff; text-align: center; font-size: 14px;line-height: 33px;cursor: pointer}
.submit-btn p{ display: inline-block; vertical-align: middle; color: #777; font-size: 13px; height: 30px; margin-left: 40px;}
.dlcg{ text-align: center;margin: 93px 0 0 0}
.dlcg p{line-height: 35px}
.gxi{ font-size: 16px; font-weight: bold; color: #7cae23;font-family: Microsoft YaHei}
.zhao{font-size: 16px; color: #f03c3f;font-family: Microsoft YaHei}
.shoye{color: #666666}






















































